<ion-view>
	<ion-content>
		<div>
			<h1>Login</h1>
			<form ng-submit="login()">
				<input type="text" placeholder="email" ng-model="user.email"></input>
				<input type="password" placeholder="password" ng-model="user.password"></input>
				<input type="submit" value="submit"></input>
			</form>
			<a ui-sref="register">Don't have an account?</a>
			<div>
				<h1>Use this to login</h1>
				<h3> uses kapitan_header@mail.ru and 123456 as password</h3>
				<input type="submit" name="" ng-click="login('kapitan_header@mail.ru', '123456')" value="one-click login">
			</div>
		</div>
		<pre>{{profile | json }}</pre>
	</ion-content>
</ion-view>	