<ion-view id="login-page" hide-nav-bar="true"> 
	<ion-content> 
		<div class="form-box"> 


			<div class="login-logo"><img src="img/logo.png" id="logo"></div> 

	
			<form ng-submit="login()" id="login-form" class="list"> 

			<div class="form-group"> 
			<label class="label-control"></label> 
			<input type="text" class="form-control" placeholder="email" ng-model="user.email"> 
			</div> 

			<div class="form-group" id="last_input"> 
			<label class="label-control"></label> 
			<input type="password" class="form-control" placeholder="password" ng-model="user.password"> 
			</div> 

			<input type="submit" class="btn btn-default smbt" value="Submit"> 
			</form> 


<p class="text-p"><a ui-sref="register">Do not have acoount?</a></p> 

</div> 
	</ion-content> 
</ion-view>


