body {
	font-family: 'Roboto', sans-serif;
	font-size: 16px;
}
h1 {
	font-size: 25px;
	font-weight: 700;
	line-height: 1;
	margin: 0;
}

/*HEADER STYLES*/
ion-header-bar, .tab-nav, .tabs {
	border: 0 !important;
	background-color: #fff !important;
	-webkit-box-shadow: 0px 0px 7px 0px rgba(0,0,0,0.3);
-moz-box-shadow: 0px 0px 7px 0px rgba(0,0,0,0.3);
box-shadow: 0px 0px 7px 0px rgba(0,0,0,0.3);
}
/*END OF HEADER STYLES*/

/*DASH PROFILE STYLES*/
.dash-profile {
	display: flex;
	flex-direction: row;
	padding-left: 25px;
	align-items: center;
	height: 30%;
	min-height: 150px;
}
.profile-info-container {
	display: flex;
	flex-direction: column;
	padding-top: 10px;
}
.dash-info {
	display: flex;
	flex-direction: row;
	justify-content: space-between;	
}

/*END OF DASH PROFILE STYLES*/

/*TODO LIST STYLES*/
.online {
	color: green;
}
.offline {
	color: red;
}
.todo-list-container h1 {
	margin: 25px 0;
	color: #245ed3;
}
.todo-list {
 margin: 0 -10px;
 z-index: 1;
}
.todo-single {
	display: flex;
	flex-direction: row;
	justify-content: flex-start;
	align-items: center;
	flex-basis: 60px;
	padding: 0 35px;
	margin: 20px 0;
}
.todo-text {
	width:70%;
}
.todo-due {
	font-weight: 700;
	font-size: 20px;
	color: #245ed3;
}
.divide-line {
	width:50%;
border: 0;
border-bottom: 1px solid #d4d4d4;
}
.small-text-dark {
	font-size: 15px;
	font-weight: 400;
	opacity: 0.8;
	color: #000;
}
.small-text-white {
	font-size: 15px;
	font-weight: 400;
	opacity: 0.8;
	color: #fff;
}
/*END OF TODO LIST STYLES*/

/*DASH STATS STYLES*/
.dash-stats {
	z-index: 10;
	display:flex;
	height: 70px;
	background-color: #245ed3;
	color: #fff;
	margin: 0 -10px;
	padding: 0 25px;
	-webkit-box-shadow: 0px 0px 5px 0px rgba(0,0,0,0.75);
-moz-box-shadow: 0px 0px 5px 0px rgba(0,0,0,0.75);
box-shadow: 0px 0px 5px 0px rgba(0,0,0,0.75);
}

.dash-stats ul {
	width: 100%;
	display: flex;
	flex-direction: row;
	align-items: center;
	justify-content: space-around;
	
}

.big-number {
	font-size: 20px;
	font-weight: 700;
}
/*END OF DASH STATS STYLES*/


/*START OF FIRECHAT STYLES*/
.firechat-dropdown a {
	height: 50px !important;
	background-color: #fff !important;
}
#firechat {
	font-size: 40px !important;
}
/*END OF FIRECHAT STYLES*/

/*START OF SETTINGS STYLES*/

#positionNow {
	position: absolute;
    top: 10vh;
    list-style: none;
    left: 90px;
}
.username {
	position: absolute;
    top: 3vh;
    left: 90px;
}
.userstatusnow {
	position: absolute;
    top: 7vh;
    text-decoration: none;
    color: green;
    left: 90px;
}
.profilepic {
	width: 60px;
    position: absolute;
    top: 4vh;
}
.btnlogout {
	background-color: #245ed3;
	color: white;
}
/*END OF SETTINGS STYLES*/

/*START OF FORM*/
.todo-form {
	height: 10vh;
	padding: 0 30px;
	border: 1px solid #d4d4d4;
	background-color: #fff;
	display: flex;
	align-items: center;
	justify-content: center;
}

.todo-form form {
	display: flex;
	flex-direction: row;
	justify-content: space-between;
	align-items: center;
}

#dashboard-page form input {
	font-size: 20px !important;
	background-color: #fff !important;
}
#dashboard-page form input[type="submit"] {
	background-color: #245ed3 !important;
	color: #fff !important;
}
@media(min-width: 200px) {

	 #dashboard-page .todo-form form {
		display: flex;
		flex-direction: column;
		align-items: flex-start;
	}
	#dashboard-page  .todo-form {
		height: auto;
		margin: 0;
		border-radius: 4px;
	}
	#dashboard-page  input {
		border-bottom: 3px solid #245ed3 !important;
		margin: 13px 0;
		color: #000 !important;
	}
	#dashboard-page  .form-control::-webkit-input-placeholder {
  color: #000;
  opacity:0.7;
}
#dashboard-page  .form-control::-moz-placeholder {
  color: #000;
  opacity:0.7;
}
#dashboard-page  .form-control:-ms-input-placeholder {
  color:#000;
  opacity:0.7;
}

#dashboard-page .form-control:-moz-placeholder {
  color: #fff;
  opacity:0.7;
}
}
/*END OF FORM*/

/*LOGIN FORM*/
/*Login Register Styles*/

label {
  font-weight: 700;
  text-transform: lowercase;
}

.login-logo {
  text-align: center;
}
.form-group {
  position: relative;
  width: 100%;
  overflow: hidden;
  margin-bottom: 7px;
}

.form-group .label-control {
  color: #fff;
  display: block;
  font-size: 20px;
  position: absolute;
  top: 0;
  left: 0;
  padding: 0;
  width: 100%;
  pointer-events: none;
  height: 100%;
   border-bottom: 7px solid #fff;
}

.form-control {
  border: none;
  border-radius: 0;
  margin-top: 20px;
  padding: 12px 0;
  width: 100%;
  font-size: 50px;
}
.form-control::-webkit-input-placeholder {
  color: #fff;
  opacity:0.7;
}
.form-control::-moz-placeholder {
  color: #fff;
  opacity:0.7;
}
.form-control:-ms-input-placeholder {
  color:#fff;
  opacity:0.7;
}

.form-control:-moz-placeholder {
  color: #fff;
  opacity:0.7;
}



.input-field label:before{
  content: '';
  padding-bottom: 10px;
  width: 100%;
  border-bottom: 4px solid #fff;
}

input[type="password"], input[type="email"],  input[type="text"]
{	
	color: #fff;
  background: transparent;
  
  font-weight: 700;
  font-size: 21px;
}
input.btn[type="submit"] {
  background: #fff;
  border:none;
  border-radius: 5px;
  color: #245ed3;
  cursor: pointer;
  font-size: 20px;
  font-weight: 700;
  margin: 5px 0;
  outline: medium none;
  overflow: hidden;
  padding: 6px;
  text-transform: lowercase;
  width: 100%;
  font-weight: 700;
  font-size: 21px;
-webkit-box-shadow: 0px 5px 10px 0px rgba(0,0,0,0.1);
-moz-box-shadow: 0px 5px 10px 0px rgba(0,0,0,0.1);
box-shadow: 0px 5px 10px 0px rgba(0,0,0,0.1);
}
.text-p{
  font-size: 21px;
  text-align: center;
  margin: 10px 0;
  color: #fff;
}
.text-p a{
  color: #175690;
}
@media (max-width: 480px){
  form#login-form {
    width: 63%;
    margin: auto;
  }
}
#logo {
  width:65%;
  margin: 50px 0px 18px 0px;
}
#last_input {
  margin-bottom: 40px;
}
.text-p a {
  color: #fff;
  text-decoration: none;
}
#login-page {
	background-color: #245ed3;
}
#register-page {
  background: #245ed3; 
}



/*ENF OF LOGIN FORM*/